*, root {
    font-family: Karla;
}

body {
    background-color: white;
}

h1, h2, h3, p {
    margin: 2px;
}

.lesser {
    color: #919191;
}

.inline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1 {
    background-color: #f5f5f5;
    padding: 0.625rem;
    margin: 0.625rem;
    border-radius: 6px;
    box-shadow: 1px 1px 4px #000000;
}
